
// -------------- pure css -------------- //
// h1{
//     color: white;
//     background-color: #654fef;
//     border-radius: 7px;
//     padding: 5px;
// }
// h2{
//     color: white;
//     background-color: #654fef;
//     border-radius: 7px;
//     padding: 5px;
// }
// p{
//     color: white;
//     background-color: #654fef;
//     border-radius: 7px;
//     padding: 5px;
// }


// -------------- use scss mixin -------------- //
@mixin textStyle{
    color: white;
    background-color: #654fef;
    border-radius: 7px;
    padding: 5px;
}

h1{
    @include textStyle;
}
h2{
    @include textStyle;
}
p{
    @include textStyle;
}