



@mixin textStyle($color, $bgColor, $border, $fasele) {
    color: $color;
    background-color: $bgColor;
    border-radius: $border;
    padding: $fasele;
}
@mixin font($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin hoverEffect($bgColor , $color) {
    &:hover{
        background-color: $bgColor;
        color:$color
    }
}